<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="c3p0DataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="${jdbc.driver}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="maxPoolSize" value="25" />
        <property name="minPoolSize" value="10" />
        <property name="maxStatements" value="100" />
        <property name="testConnectionOnCheckout" value="true" />
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="c3p0DataSource"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
            </props>
        </property>
        <property name="packagesToScan">
            <list>
                <value>com.aimacademyla</value>
            </list>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="formatters">
            <set>
                <bean class="com.aimacademyla.formatter.LocalDateFormatter"/>
            </set>
        </property>
    </bean>

    <security:http auto-config="true">
        <security:intercept-url pattern="/" access="hasRole('ROLE_ADMIN')"/>
        <security:form-login
            login-page="/login"
            default-target-url="/admin/home"
            always-use-default-target="true"
            authentication-failure-url="/login?error"
            username-parameter="username"
            password-parameter="password"/>
        <security:logout
            logout-success-url="/login"/>
        <!--<security:csrf token-repository-ref="csrfTokenRepository"/>-->
        <security:csrf disabled="true"/>
    </security:http>

    <!--<beans:bean id="csrfTokenRepository" class="org.springframework.security.web.csrf.HttpSessionCsrfTokenRepository">-->
        <!--<beans:property name="headerName" value="X-XSRF-TOKEN" />-->
    <!--</beans:bean>-->

    <security:authentication-manager>
        <security:authentication-provider>
            <security:jdbc-user-service data-source-ref="c3p0DataSource"
                                        authorities-by-username-query="SELECT username, authority FROM Authorities WHERE username = ?"
                                        users-by-username-query="SELECT username, password, enabled FROM Users WHERE username = ?"/>
        </security:authentication-provider>
    </security:authentication-manager>


    <beans profile="development">
        <context:property-placeholder
                ignore-resource-not-found="true"
                location="META-INF/development.properties"/>
    </beans>

    <beans profile="production">
        <context:property-placeholder
                ignore-resource-not-found="true"
                location="META-INF/production.properties"/>
    </beans>

    <beans profile="localhost">
        <context:property-placeholder
                ignore-resource-not-found="false"
                location="META-INF/localhost.properties"/>
    </beans>

</beans>