<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/jdbc
       http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:component-scan base-package="com.aimacademyla"/>

    <tx:annotation-driven/>

    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper">
                    <bean class="com.aimacademyla.mapper.HibernateAwareObjectMapper"/>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <jdbc:initialize-database data-source="c3p0DataSource">
        <jdbc:script location="WEB-INF/resources/sql/initializationScript.sql" encoding="UTF-8"/>
    </jdbc:initialize-database>

    <bean id="c3p0DataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="${jdbc.driver}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="maxPoolSize" value="25" />
        <property name="minPoolSize" value="10" />
        <property name="maxStatements" value="100" />
        <property name="testConnectionOnCheckout" value="true" />
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="c3p0DataSource"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
            </props>
        </property>
        <property name="packagesToScan">
            <list>
                <value>com.aimacademyla</value>
            </list>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--<bean id="daoFactory" class="com.aimacademyla.dao.factory.DAOFactory">-->
        <!--<constructor-arg>-->
            <!--<list>-->
                <!--<ref bean="attendanceDAO"/>-->
                <!--<ref bean="authorityDAO"/>-->
                <!--<ref bean="chargeDAO"/>-->
                <!--<ref bean="chargeLineDAO"/>-->
                <!--<ref bean="courseDAO"/>-->
                <!--<ref bean="courseSessionDAO"/>-->
                <!--<ref bean="employeeDAO"/>-->
                <!--<ref bean="memberCourseRegistrationDAO"/>-->
                <!--<ref bean="memberMonthlyRegistrationDAO"/>-->
                <!--<ref bean="paymentDAO"/>-->
                <!--<ref bean="seasonDAO"/>-->
                <!--<ref bean="userDAO"/>-->
            <!--</list>-->
        <!--</constructor-arg>-->
    <!--</bean>-->

    <security:http auto-config="true">
        <security:intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')"/>
        <security:form-login
            login-page="/login"
            default-target-url="/admin/home"
            always-use-default-target="true"
            authentication-failure-url="/login?error"
            username-parameter="username"
            password-parameter="password"/>
        <security:logout
            logout-success-url="/login?logout"/>
        <!--<security:csrf token-repository-ref="csrfTokenRepository"/>-->
        <security:csrf disabled="true"/>
    </security:http>

    <!--<beans:bean id="csrfTokenRepository" class="org.springframework.security.web.csrf.HttpSessionCsrfTokenRepository">-->
        <!--<beans:property name="headerName" value="X-XSRF-TOKEN" />-->
    <!--</beans:bean>-->

    <security:authentication-manager>
        <security:authentication-provider>
            <security:jdbc-user-service data-source-ref="c3p0DataSource"
                                        authorities-by-username-query="SELECT username, authority FROM Authority WHERE username = ?"
                                        users-by-username-query="SELECT username, password, enabled FROM User WHERE username = ?"/>
        </security:authentication-provider>
    </security:authentication-manager>

    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="formatters">
            <set>
                <ref bean="courseFormatter"/>
                <ref bean="attendanceFormatter"/>
                <ref bean="memberFormatter"/>
                <ref bean="courseSessionFormatter"/>
            </set>
        </property>
    </bean>

    <beans profile="development">
        <context:property-placeholder
                ignore-resource-not-found="true"
                location="WEB-INF/resources/properties/development.properties"/>
    </beans>

    <beans profile="production">
        <context:property-placeholder
                ignore-resource-not-found="true"
                location="WEB-INF/resources/properties/production.properties"/>
    </beans>

    <beans profile="localhost">
        <context:property-placeholder
                ignore-resource-not-found="false"
                location="WEB-INF/resources/properties/localhost.properties"/>
    </beans>
</beans>