#chargeDescription{
    width: 200px;
    display:inline;
    padding-right:20px;
}

#chargeAmount{
    width: 50px;
    display:inline;
    padding-right:20px;
}

#chargeDiscount{
    width: 50px;
    display:inline;
    padding-right:10px;
}

#dateCharged{
    width:75px;
    display: inline;
    padding-right:10px;
}